@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat&family=Raleway:wght@400;500&display=swap');


@import "variables";
@import "general";



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  

}

a, button {
  font-family: $font;
  font-weight: 400;
  color: black;
  font-size: 17px;
  text-decoration: none; 
}

button {
    position: relative;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 26px;
    background-color: rgb(0, 153, 255);
    position: relative;
    display: inline-block;
    
}

.container {
  display: flex;
  height: 600px;
  background: url($h1-photo);
  background-size: cover;
  width: 100%;
  top: -40px;
  color: white;
  font-size: 50px;
  letter-spacing:1px;


.centered {
  text-align: center;
  font-family: $font;
  font-size: 50px;
  margin: auto;
  padding: 100px;
}
}


input[type=text], select, textarea {
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}


input[type=submit] {
  background-color: rgb(0, 153, 255);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.icons-container {
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
  background: #F8F8FA;
  justify-content: center;
  align-items: center;


article {
 width: auto;
 height: 150px;
 text-align: center;
 padding: 100px;
 margin: 10px;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  color: grey;
}}


.flex-container {
display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: wrap-reverse;
}

section {
  display: flex;
  align-items: center;
  font-family: $font;
}

section:nth-of-type(1) {
  flex-direction: row-reverse;
}

section:nth-of-type(3) {
  flex-direction: row-reverse;
}

section .content {
  display: flex;
  text-align:right;
  width: 50%;
  height: 600px;
  background: url($h2-photo1);
  background-size: cover;
}


.content-2 {
  display: flex;
  width: 50%;
  height: 600px;
  background: url($h3-photo2);
  background-size: cover;
}

.content-3 {
  display: flex;
  width: 50%;
  height: 600px;
  background: url($h4-photo3);
  background-size: cover;
}

section p {
  text-align: center;
  display: block;
  font-family: $font;
  max-width: 500px;
  padding: 100px;
  line-height: 20px;
  color: grey;
}

.container-bottom {
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
  background: #F8F8FA;
  justify-content: center;
  align-items: center;


article {
 width: auto;
 height: 200px;
 text-align: center;
 padding: 100px;
 margin: 10px;

}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  color: grey;
}}

h2 {
  text-align: center;
}

footer {
  padding-top: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 40px 10%;

  a {
      font-family: $font;
      color: rgb(0, 153, 255);
      font-size: 18px;
      text-decoration: none; 
      padding: 10px;

      &:after {
        padding-left: 20px;
        content: "·";
        color: black;
      }
    
    }
}

.bottom-text {
  height: 100px;
  padding-left: 209px;
  color: grey;
}


@media (max-width: 600px) {
  main {
      width: 100%;
    
  }

  @media (mmin-width: 600px) {
    main {
        width: 100%;
    
    }